{{!-- <div class="mascot-card" tabindex="-1" {{ on "mousedown" (fn this.beginDragging mascot) }}>
  {{mascot.myPriority}}
  <img class="mascot-card-image" draggable="false" src={{mascot.imageUrl}} />
  <h3>{{mascot.type}}</h3>
</div> --}}